{
  "parser": "@typescript-eslint/parser",
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "plugins": ["unicorn", "header"],
  "env": {
    "node": true
  },
  "rules": {
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-namespace": "off",
    "header/header": [
      "error",
      "line",
      [" Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.", " SPDX-License-Identifier: Apache-2.0"]
    ],
    "no-warning-comments": "warn"
  },
  "overrides": [
    {
      "files": ["fixtures/**/*.tsx"],
      "rules": {
        "@typescript-eslint/no-unused-vars": "off"
      },
      "env": {
        "node": true
      }
    },
    {
      "files": ["e2e/**/*.ts"],
      "env": {
        "jest": true,
        "node": true
      },
      "rules": {
        "@typescript-eslint/no-var-requires": "off"
      }
    }
  ]
}
